<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Food Items</title>
</head>
<body>
    <div>
    <h1 style="padding-left: 30px;">List of avaliable food items</h1>
    <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><center>Breakfast</center></h2>
     <center><table border="1px" style="width: 97%; text-align: center; font-size: 20px;" >
        <tr>
            <th style="width: 35%;">Name</th>
            <th>Carbohydrates(in gms)</th>
            <th>Fats(in gms)</th>
            <th>Protein(in gms)</th>
            <th>Fiber(in gms)</th>
            <th>Calorie(in cal)</th>
        </tr>
        <tr>
            <td>Oats Idly</td>
            <td>5.7</td>
            <td>0.6</td>
            <td>1.8</td>
            <td>1</td>
            <td>30</td>
        </tr>
        <tr>
            <td>Dosa</td>
            <td>18.8</td>
            <td>5.2</td>
            <td>2.7</td>
            <td>1.1</td>
            <td>133</td>
        </tr>
        <tr>
            <td>Poori</td>
            <td>7.5</td>
            <td>7.4</td>
            <td>1.3</td>
            <td>0.2</td>
            <td>101</td>
        </tr>
        <tr>
            <td>Eggs</td>
            <td>1.1</td>
            <td>11</td>
            <td>13</td>
            <td>0</td>
            <td>66</td>
        </tr>
        <tr>
            <td>Oatmeal</td>
            <td>27</td>
            <td>3</td>
            <td>5</td>
            <td>4</td>
            <td>95</td>
        </tr>
     </table>
     <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><center>Lunch</center></h2>
     <center><table border="1px" style="width: 97%; text-align: center; font-size: 20px;" >
        <tr>
            <th style="width: 35%;">Name</th>
            <th>Carbohydrates(in gms)</th>
            <th>Fats(in gms)</th>
            <th>Protein(in gms)</th>
            <th>Fiber(in gms)</th>
            <th>Calorie(in cal)</th>
        </tr>
        <tr>
            <td>Tomato Rice</td>
            <td>30.3</td>
            <td>7.1</td>
            <td>9.7</td>
            <td>5</td>
            <td>224</td>
        </tr>
        <tr>
            <td>Vegetable Biryani</td>
            <td>60.8</td>
            <td>18.2</td>
            <td>8.9</td>
            <td>5.7</td>
            <td>241</td>
        </tr>
        <tr>
            <td>Beetroot&Coconut Sabzi</td>
            <td>3.8</td>
            <td>6.8</td>
            <td>1.1</td>
            <td>2</td>
            <td>81</td>
        </tr>
        <tr>    
            <td>Tomato Dal</td>
            <td>30.3</td>
            <td>7.1</td>
            <td>9.7</td>
            <td>5</td>
            <td>224</td>
        </tr>
        <tr>
            <td>Brinjal Curry</td>
            <td>7.92</td>
            <td>7.82</td>
            <td>2.45</td>
            <td>5.71</td>
            <td>115.33</td>
        </tr>
     </table>
     <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><center>Snacks</center></h2>
     <center><table border="1px" style="width: 97%; text-align: center; font-size: 20px;" >
        <tr>
            <th style="width: 35%;">Name</th>
            <th>Carbohydrates(in gms)</th>
            <th>Fats(in gms)</th>
            <th>Protein(in gms)</th>
            <th>Fiber(in gms)</th>
            <th>Calorie(in cal)</th>
        </tr>
        <tr>
            <td>Pani Puri</td>
            <td>29.6</td>
            <td>5.2</td>
            <td>5.4</td>
            <td>3.6</td>
            <td>329</td>
        </tr>
        <tr>
            <td>Pizza</td>
            <td>33</td>
            <td>10</td>
            <td>14.2</td>
            <td>2.3</td>
            <td>266</td>
        </tr>
        <tr>
            <td>Burger</td>
            <td>24</td>
            <td>14</td>
            <td>17</td>
            <td>0.9</td>
            <td>295</td>
        </tr>
        <tr>
            <td>Veg Manchuria</td>
            <td>30.9</td>
            <td>22.6</td>
            <td>5.4</td>
            <td>5.1</td>
            <td>837</td>
        </tr>
        <tr>
            <td>Egg Noodles</td>
            <td>40</td>
            <td>3</td>
            <td>7</td>
            <td>2</td>
            <td>221</td>
        </tr>
     </table>
     <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><center>MilkShakes</center></h2>
     <center><table border="1px" style="width: 97%; text-align: center; font-size: 20px;" >
        <tr>
            <th style="width: 35%;">Name</th>
            <th>Carbohydrates(in gms)</th>
            <th>Fats(in gms)</th>
            <th>Protein(in gms)</th>
            <th>Fiber(in gms)</th>
            <th>Calorie(in cal)</th>
        </tr>
        <tr>
            <td>Strawberry Milkshake</td>
            <td>71</td>
            <td>11</td>
            <td>13</td>
            <td>1.5</td>
            <td>235</td>
        </tr>
        <tr>
            <td>Vanilla Milkshake</td>
            <td>33.9</td>
            <td>9.5</td>
            <td>8.2</td>
            <td>0</td>
            <td>350.6</td>
        </tr>
        <tr>
            <td>Chocolate Blend Milkshake</td>
            <td>90</td>
            <td>22</td>
            <td>2.2</td>
            <td>0.3</td>
            <td>590</td>
        </tr>
        <tr>
            <td>Oreo Milkshake</td>
            <td>31.4</td>
            <td>11.7</td>
            <td>5.1</td>
            <td>0.3</td>
            <td>262</td>
        </tr>
        <tr>
            <td>Nutella Milkshake</td>
            <td>44</td>
            <td>14</td>
            <td>38</td>
            <td>12</td>
            <td>454</td>
        </tr>
     </table>
    </br>
    </br>
    </br>
    </center>
    </div>
</body>
</html>