<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
{% with messages = get_flashed_messages() %}
	{% if messages %}
	  <ul class=flashes>
	  {% for message in messages %}
		<center style="color:black;"><b>{{message}}</b><center>
	  {% endfor %}
	  </ul>
	{% endif %}
{% endwith %}
<body>
	<div class="login-form">
		<h1>Login</h1>
		<form  method="post">
			<p>User ID</p>
			<input type="text" name="user" placeholder="User Name">
			<p>Password</p>
			<input type="password" name="password" placeholder="Password">
			<a href="{{url_for('login')}}"  style="color: white;"><button class="but" type="submit">Log In</button></a>
			<p>Forgot password? <a href="{{url_for('forget')}}">Click here</a></p>
		</form>
	</div>
</body>
</html>

