<!DOCTYPE html>
<html>
<head>
	<title>Password Page</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
	<div class="login-form">
		<h1>Set up Password</h1>
		<form action="#" method="post">
			<p>Create New Password</p>
			<input type="password" name="password" placeholder="New Password">
			<p>Confirm New Password</p>
			<input type="password" name="password" placeholder="Confirm Password">
			</br>
			<p><a href="login1.html">Log In</a></p>
		</form>
	</div>
</body>
</html>